
.social-link{
    &__button{
        width: fit-content;
        font-size: 0.9rem;
        color: rgba(12, 133, 170, 0.685);
        font-weight: 700; 
        border-radius: 25px;
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.301);
        box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        position: relative;
        transition-timing-function: cubic-bezier(0.85, 0.8, 0.85, 1);
        transition-duration: 100ms; 
        cursor: pointer;
        display: flex;

        //DARKMODE
        &__darkmode{
            background-color: rgb(0, 0, 0);
        }
    }

    &__button:focus,
    &__button:hover {
        scale: (1.1);
        transform: translateY(-8px); 
        transition: transform 0.8s ease;           
    }

    &__button:active {
        scale: (0.9);
    }

    &__icons{
        display: flex;
        gap: 10px;
        align-items: center;
        color: rgb(177, 3, 177);

        //DARKMODE
        &__darkmode{
            color:rgba(255, 148, 9, 0.938);
        }
    }

    &__icon{
        font-size: 1.4rem;
    }

   
}
    