
.social-link{
    &__button{
        width: fit-content;
        font-size: 0.9vw;
        color: rgba(12, 133, 170, 0.685);
        font-weight: 700; 
        border-radius: 25px;
        padding: 15px 25px;
        background-color: rgba(255, 255, 255, 0.301);
        box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        position: relative;
        transition-timing-function: cubic-bezier(0.85, 0.1, 1.5, 1);
        transition-duration: 1.5s; 
        cursor: pointer;
        display: flex;

        @media (max-width: 1150px) {
            font-size: 1rem;  
        }
        
        @media (max-width: 400px) {
            padding: 10px 15px;
        }

        @media (max-width: 350px) {
            font-size: 0.7rem;  
         } 

         @media (max-width: 300px) {
            padding: 5px 10px;
        }
         

        //DARKMODE
        &__darkmode{
            background-color: rgb(0, 0, 0);
        }
    }

    &__button:focus,
    &__button:hover {
        scale: (1.1);
        transform: translateY(-20px); 
        transition: transform 0.8s ease; 
        background-color: rgba(43, 43, 43, 0.089);         
    }

    &__button:active {
        scale :(0.8);
        background-color: rgba(43, 43, 43, 0.089); 
    }

    &__icons{
        display: flex;
        gap: 10px;
        align-items: center;
        color: rgb(177, 3, 177);

        //DARKMODE
        &__darkmode{
            color:rgba(255, 148, 9, 0.938);
        }
    }

    &__icon{
        font-size: 1.4rem;

        @media (max-width: 350px) {
            font-size: 1rem;  
         } 
    }

   
}
    