.skill-cards{
  
  &__contenair{
    width: 270px;
    height: 194px;
    perspective: 900px;
  }

  .skill-cards__contenair:hover > .skill-cards__card {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(180deg);
  }

  &__card {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    border-radius: 2rem;
  }

  &__recto--icons{
    margin-top: 30px;
    font-size: 5rem;
  }

  &__recto, &__verso {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    position: absolute;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    backface-visibility: hidden;
    color: rgb(136, 136, 136);
    background-color: transparent;
  }

  &__recto, &__verso {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__verso {
    transform: rotateY(180deg) rotateZ(180deg);
  }

  &__verso--liste{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);

    &__darkmode{
      color: rgb(255, 255, 255);
    }
  }

  &__recto--title {
    font-size: 28px;
    color: rgb(0, 141, 160);

    &__darkmode {
      color: rgb(160, 85, 0);
    }
  }
}

 



