//-----------------------------------------LAYOUT--------------------------------------------------------------------------------//
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Dosis", sans-serif;
}

button,a,input{
    cursor: pointer;
}

body{
    margin: 0;
    
    // background: 
    // radial-gradient(circle, rgba(69, 224, 172, 0.37) 0%,
    // rgba(247, 119, 0, 0.233) 49%, 
    // rgba(0, 238, 255, 0.205) 75%, 
    //  rgba(0, 238, 255, 0.295) 100%);
      color:rgb(105, 105, 105)
}


h2{
    font-family: "Cairo", sans-serif;
    font-weight: 400;
}


//DARKMODE
.body-dark-mode{
    background-color: rgb(29, 29, 29);
    background: 
        radial-gradient(circle, rgb(56, 56, 56) 0%, 
        rgb(36, 36, 36) 25%, 
        rgb(0, 0, 0) 49%, 
        rgb(0, 0, 0) 75%, 
        rgba(24, 24, 24, 0.678) 100%);
    color: rgb(201, 201, 201);
}


.project-page {
    width: 100%;
    
    
    &__box{
        width: 100%;
        margin: 250px auto auto auto ;
        display: flex;
        flex-direction: column;
        gap:30px;
        padding: 15px 50px;
        height: fit-content;
        background-color: rgba(143, 143, 143, 0.082);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border-radius: 30px;
        position: relative;
    }
    
    &__title{
        font-size: 4rem;
        color:rgb(71, 71, 71)
    }

    &__subtitle{
        margin-top: -25px;
        font-style: italic;
        color:rgb(0, 139, 139);

        &__darkmode{
            color:orange;
            font-weight: 300;
        }
    }

    &__text-box{
        display: flex;
        flex-direction: column;
        width: 55%;
        gap:15px;
        font-size: 1rem;
    }

    &__techno{
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        gap:15px;
        font-size: 1.1rem;
        text-transform: uppercase;
        color:rgb(0, 139, 139);
        border-radius: 15px; 
        
        &__darkmode{
            color:orange
        }
    }

    &__techno *{
        border:1px solid rgba(65, 65, 65, 0.274);
        background-color: rgba(255, 255, 255, 0.377);
        padding:5px 15px;
        border-radius: 25px;
        box-shadow: rgba(100, 100, 111, 0.144) 0px 7px 29px 0px; 
    }

    &__techno__darkmode * {
        background-color: rgba(29, 29, 29, 0.521);
    }

    &__form{
        width: 650px;
        height: 500px;
        border-radius:5%;
        background-color: rgb(0, 123, 128);
        position: absolute;
        right: -150px;
        top:-60px;
        box-shadow: rgba(255, 255, 255, 0.644) 0px 1px 1px 0px inset, 
        rgba(50, 50, 93, 0.37) 0px 50px 100px -20px, 
        rgba(0, 0, 0, 0.801) 0px 30px 60px -30px;
    
        &__darkmode{
            background-color: rgb(184, 121, 4);
            box-shadow: rgba(255, 255, 255, 0.192) 0px 1px 1px 0px inset, 
        rgba(50, 50, 93, 0.37) 0px 50px 100px -20px, 
        rgba(0, 0, 0, 0.801) 0px 30px 60px -30px;
        }
    }

    &__link{
        display: flex;
        gap: 30px;
        justify-content: end ;
    }

    &__backlink{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: italic;
        font-size: 1.2rem;
        cursor: pointer;
        font-weight: 600;
    }

    &__backlink *{
        color:rgb(0, 123, 128);
    }

    

    &__backlink__darkmode * {
        color:orange
    }

    &__directionlink{
        display: flex;
        gap:50px
    }
}