.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 15px 80px;
    z-index: 10;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.384);
    border-bottom: 1px solid rgba(9, 247, 255, 0.562);
    border-radius: 0px 0px 90px 90px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, 
                rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    
    //DARKMODE
    &__darkmode {
        background-color: rgba(138, 138, 138, 0.438);
        border-bottom: 1px solid rgba(255, 148, 9, 0.562);
    }

    @media (max-width: 720px) {
        flex-direction: column;
        gap:5px; 
    }
}




























