.modale {
    background-color: white;
    width: 450px;
    height: 250px;
    margin:  250px auto;
    border-radius: 25px;
    padding: 35px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

    &__close-icon {
        float: right;
    }

    &__text {
        text-align: center;
        margin-top: 55px;
    }

    &__button {
        width: 70px;
        margin:  50px auto ;
        padding: 5px 10px;
        text-align: center;
        display: block;
    }
}

.dark-mode-modale-contact{
    background-color: rgb(65, 65, 65);
}

.dark-mode-button-contact{
    background-color: rgb(56, 56, 56);
    color:white;
    border: none;

}