.skill-cards{
  
  &__contenair{
    width: 270px;
    height: 194px;
    perspective: 900px;

    @media (max-width: 1150px) {
      width:190px;
      height: 150px; 
      perspective: 900px; 
    }

    @media (max-width: 750px) {
        width: 170px; 
    }

    @media (max-width: 600px) {
      width: 250px;
  }

  @media (max-width: 300px) {
    width: 190px;
}

  }

  .skill-cards__contenair:hover > .skill-cards__card {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(180deg);
  }

  &__card {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: relative;
    transition: transform 2.3s;
    transform-style: preserve-3d;
    border-radius: 2rem;
  }

  &__recto--icons{
    margin-top: 30px;
    font-size: 5vw;

    @media (max-width: 600px) {
      font-size: 4rem;
    }

  }

  &__recto, &__verso {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    position: absolute;
    box-shadow: rgba(20, 16, 44, 0.11) 0px 48px 100px 0px;
    backface-visibility: hidden;
    color: rgba(77, 77, 77, 0.767);
    background-color: transparent;
    

    &__darkmode, &__darkmode{
      box-shadow: rgb(0, 0, 0) 0px 48px 100px 0px;
    } 
  }

  &__recto {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
  }

  &__verso {
    transform: rotateY(180deg) rotateZ(180deg);
  }

  &__verso--liste{
    font-size: 1.2vw;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    gap:5px;
    margin-bottom: 5px;

    @media (max-width: 600px) {
      font-size: 1rem;
    }

    &__darkmode{
      color: rgb(255, 255, 255);
    }
  }

  &__recto--title {
    font-size: 2vw;
    color: rgb(0, 141, 160);
    font-weight: 500;

    @media (max-width: 600px) {
      font-size: 1.5rem;
    }

    &__darkmode {
      color: rgb(192, 192, 192);
    }
  }

  &__verso {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .fa-check{
    font-size: 0.5rem
  }
}

 



