//-----------------------------------------LAYOUT--------------------------------------------------------------------------------//
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Dosis", sans-serif;
}

button,a,input{
    cursor: pointer;
}

body{
    margin: 0;
    
    // background: 
    // radial-gradient(circle, rgba(69, 224, 172, 0.5) 0%,
    // rgba(247, 119, 0, 0.349) 49%, 
    // rgba(0, 238, 255, 0.685) 75%, 
    //  rgba(0, 238, 255, 0.644) 100%);
    //   color:rgb(105, 105, 105)
}


h2{
    font-family: "Cairo", sans-serif;
    font-weight: 400;
}


//DARKMODE
.body-dark-mode{
    background-color: rgb(29, 29, 29);
    background: 
        radial-gradient(circle, rgb(56, 56, 56) 0%, 
        rgb(36, 36, 36) 25%, 
        rgb(0, 0, 0) 49%, 
        rgb(0, 0, 0) 75%, 
        rgba(24, 24, 24, 0.678) 100%);
    color: rgb(201, 201, 201);
}


.error{
    margin-bottom: 0;

    &__box{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title{
        text-align: center;
        font-size: 15vw;
    }

    &__subtitle{
        text-align: center;
        font-size: 4vw;
    }

    &__button{
        text-align: center;
        text-transform: uppercase;
        margin-top: 50px;
    }

    &__backlink{
        margin-top: 50px;
        background-color: rgba(255, 255, 255, 0.596);
        padding: 10px 35px;
        border-radius: 25px;
        color: rgb(87, 87, 87);
        box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        transition-timing-function: cubic-bezier(0.85, 0.8, 0.85, 1);
        transition-duration: 100ms; 
        cursor: pointer;
        font-weight: 500;
        font-size: 1.2rem;
    }
    
    &__backlink:focus,
    &__backlink:hover {
        scale: (1.3);
        transform: translateY(-8px); 
        transition: transform 0.8s ease;           
    }

    &__backlink:active {
        scale: (0.9);
    }
}











// <div >
//             <section className='error'>
//                 <h2 className='error__title'>404</h2>
//                 <h3 className='error__subtitle'>page non trouvée</h3>
//                 <p className='about__button'> retour accueil</p>
//             </section>
//         </div>