
.logo {
    font-size: 4vw;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    color: rgb(2, 167, 179);
    transition: transform 0.8s ease; 
    transition-duration: 100ms;
    text-decoration:unset ;

    @media (max-width: 900px) {
        font-size: 3rem; 
    }


    &:hover{
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.432);
        transform: translateX(8px); 
        transition: transform 0.8s ease;
    }

    //DARKMODE
    &__darkmode {
        color:rgb(252, 183, 34);
    }
}









    
