.curriculum{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;

    &__title{
        font-size: 3vw;
    }
}







// <div className='curriculum'>
//             <h2 className='curriculum__title'>HELLO</h2>
//             <p className='curriculum__button'>voir mon cv</p>
//         </div>