.text {
    width: 600px;
    font-size: 1.3rem;
    margin-left: 5%;
}

.text2{
    width: 600px;
    font-size: 1.3rem;
    margin-left: 5%;
}

.text3{
    width: 600px;
    font-size: 1.3rem;
    margin-left: 5%;
}