.title{
    display: flex;
    flex-direction: column;
    text-align: center;
   
    &__h2{
        font-size: 4rem;
        height: 90px;
        font-weight: 300;
        text-shadow: 2px 3px 3px rgba(0,0,0,0.2);
       
    }

    &__h3{
        font-size: 1.5rem;
        font-family: "Cairo", sans-serif;
        font-weight: 200;
    }
}


