//-----------------------------------------LAYOUT--------------------------------------------------------------------------------//
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Dosis", sans-serif;
}

button,a,input{
    cursor: pointer;
}

body{
    margin: 0;
    background: rgb(248, 171, 142);
    background: 
        radial-gradient(circle, rgba(247, 172, 145, 0.37) 0%,
        rgba(252, 190, 139, 0.555) 49%, 
        rgba(255, 211, 198, 0.636) 75%, 
        rgba(247, 236, 221, 0.645) 100%);
        color:rgb(105, 105, 105)
}

main{
    max-width: 1240px;
    margin:auto; 
    display: flex;
    flex-direction: column;
    gap:100px;
}

// main > * {
//     display: flex;
//     justify-content: center;
//     align-items: center;    
// }

h2{
    font-family: "Cairo", sans-serif;
    font-weight: 400;
}

.body-dark-mode{
    background-color: rgb(29, 29, 29);
    background: 
        radial-gradient(circle, rgb(0, 0, 0) 0%, 
        rgb(0, 0, 0) 25%, 
        rgb(37, 37, 37) 49%, 
        rgb(24, 24, 24) 75%, 
        rgba(10, 10, 10, 0.521) 100%);
    color: rgb(255, 217, 217);
}


