.filter{
    
    &__tags{
        font-size: 1.3rem;
        text-transform: uppercase;
        color: rgba(8, 171, 221, 0.685);
        font-weight: 300;
        padding: 5px 30px;
        position: relative;
        transition-timing-function: cubic-bezier(0.85, 0.8, 0.85, 1);
        transition-duration: 600ms; 
        background-color: rgba(255, 255, 255, 0.267);
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        cursor: pointer;

        &__darkmode{
            color:rgb(179, 80, 0);
        }
    }

    &__tags:focus,
    &__tags:hover {
        scale: (1.2);
        transform: translateY(-15px); 
        transition: transform 0.8s ease;
        font-weight: 600;  
        background-color: rgba(179, 179, 179, 0.096);       
    }

    &__tags:active {
        scale: (0.9);
    }

}
    