.home{
    width: 100%;
    margin-top: 270px;
    display: flex;
    flex-direction: column;
    
    &__cards{
        position: relative;
        height: fit-content;
        width: 80%;
        margin: auto auto auto 0px;
        padding: 15px 15px 15px 15px;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.753);
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
    }

    &__box{
        display: flex;
    }

    &__title--contenair{
        display: flex;
        align-items: center;
        gap:15px;
        width: fit-content;
        height: fit-content;
        
        .title{
            margin-top: 30px;
            padding-bottom: 10px;
        border-bottom: 1px solid rgba(3, 3, 3, 0.247);
        }
    }

    &__link{
        margin-top: 60px;
        display: flex;
        gap:40px;
        justify-content: end;
    }

    &__symbol{
        font-size: 14rem;
    }

    &__image{
        width: 300px;
        border: 50%;
    }

    &__presentation{
        display: flex;
    }

    &__picture{
        width: 500px;
        height: 500px;
        position: absolute; 
        top: -120px; 
        right: -190px; 
        border-radius: 20%;
        background-color: rgb(9, 167, 167) ;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                    
        //DARKMODE
        &__darkmode{
            background-color:rgb(63, 63, 63);
            box-shadow: rgba(255, 255, 255, 0.089) 0px 1px 1px 0px inset, 
                         rgba(0, 0, 0, 0.623) 0px 50px 100px -20px, 
                         rgba(0, 0, 0, 0) 0px 30px 60px -30px;
        }
    }

    &__illustration{
        width: 550px;
        top:5px;
        right: -120px;
        position: absolute;
        
    }
}
 
