.contact{
    width: 100%;
    margin-top: 200px;

    &__box{
        width: 60%;
        margin: auto ;
        background-color: rgba(255, 255, 255, 0.459);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        border-radius: 30px;
        padding: 20px;
        padding-top: 80px;
        position: relative;
    }

    &__symbol{
        font-size: 8rem;
    }

    &__title-box{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:10px;   
        justify-content: center;
    }

    &__form{
        margin:40px 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:30px;
        border-top: 0.5px solid rgba(0, 0, 0, 0.144);
        padding-top: 25px;

        &__info{
            display: flex;
            justify-content: space-between;
        }

        &__info *{
            width: 47%;  
        }

        &__message{
            height: 120px;
        }

        &__info *,
        &__message,
        &__button{
            padding: 10px 20px;
            border-radius: 15px;
            border: 1px solid rgba(255, 255, 255, 0.486);
            font-size: 1.1rem;
            background-color: rgba(214, 214, 214, 0.137);
            color: black;
            box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            transition-timing-function: cubic-bezier(0.85, 0.8, 0.85, 1);
            transition-duration: 250ms; 
        }

        &__info__darkmode *,
        &__message__darkmode,
        .contact__form__button__darkmode{
            color:white;
            background-color: rgba(0, 0, 0, 0.541);
            box-shadow: rgba(255, 255, 255, 0.158) 0px 1px 3px, rgba(0, 0, 0, 0.952) 0px 1px 2px;
        }

        &__info *:hover,&__info *:focus,
        &__message:hover,&__message:focus{
            background-color: rgba(46, 46, 46, 0.103);
            scale:(1.03);
            box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.411) 0px 1px 2px;
        }

        &__button{
            width: fit-content;
            margin: 80px auto auto auto ;
            padding: 15px 30px;
            text-transform: uppercase;
            font-size: 1.2rem;
            color: rgba(145, 1, 212, 0.685);
            font-weight: 700; 
            background-color: rgba(230, 230, 230, 0.267);
            box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            transition-timing-function: cubic-bezier(0.85, 0.8, 0.85, 1);
            transition-duration: 100ms; 
            cursor: pointer;
            display: flex;
            gap:15px;
            align-items: center;
            border-radius: 70px;
            
        }
        
        &__button:focus,
        &__button:hover {
            scale: (1.3);
            transform: translateY(-8px); 
            transition: transform 0.8s ease;
            background-color: rgba(155, 155, 155, 0.267);           
        }

        &__button:active {
            scale: (0.9);
        }
    }

        .contact__picture{
        width: 745px;
        height: 100px;
        position: absolute;
        top: -70px; 
        right: -0px; 
        border-radius: 40px 40px 0px 0px;
        background-color: rgb(9, 167, 167);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        
        &__darkmode{
            background-color: rgb(90, 90, 90);
            box-shadow: rgba(255, 255, 255, 0.137) 0px 1px 1px 0px inset, 
                    rgba(50, 50, 93, 0.445) 0px 50px 100px -20px, 
                    rgba(0, 0, 0, 0.863) 0px 30px 60px -30px;
        }
    }

    &__illustration{
        width: 270px;
        top:-90px;
        left: 245px;
        position:absolute;
    }

    &__thanks{
        color:rgb(4, 180, 180);
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
        margin-top: 100px;
        border-top: 1px solid rgb(175, 175, 175);
        padding-top: 20px;
    }
    
}





























// /* contact.scss */
// .contact {
//     width: 900px;
//     display: flex;
//     flex-direction: column;
//     gap: 20px;
//     margin: auto;
    
//     &__title {
//         font-size: 3vw;
//         text-align: center;
//     }

//     &__form{
//         width: 80%;
//         margin: auto;
//         display: flex;
//         flex-direction: column;
//         gap:25px;
//     }
//     &__form *{
//         background-color: transparent;
//         border: none;
//     }

//     &__name {
//         margin-top: 50px;
//         display: flex;
//         justify-content: space-between;
//     }

//     &__name *{
//         width: 45%;
//         background-color: rgba(228, 228, 228, 0.37);
//     }

//     &__message {
//         width: 100%;
//         height: 100px;
//         margin: auto;
//         margin-top: 30px;
//         background-color: rgba(228, 228, 228, 0.37);
//     }

//     &__button {
//         margin: 50px auto;
//         width: 20%;
//         padding: 5px 10px;
//         background-color: rgba(228, 228, 228, 0.37);
//     }
// }

// .dark-mode-contact button,
// .dark-mode-contact textarea,
// .dark-mode-contact input {
//     color:white;
//     background-color: rgb(44, 44, 44);
// }

// .overlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.158); 
//     backdrop-filter: blur(5px); 
// }


